@{
    ViewData["Title"] = "Select Difficulty";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Select Difficulty</title>
</head>
<body>
    <div class="welcome">
        <h1>Select a Difficulty Level</h1>
        <form asp-action="Index" method="post">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-custom">
                    <input type="radio" name="difficulty" value="1"> Easy
                </label>
                <label class="btn btn-custom">
                    <input type="radio" name="difficulty" value="2"> Medium
                </label>
                <label class="btn btn-custom">
                    <input type="radio" name="difficulty" value="3"> Hard
                </label>
            </div>
            <input type="submit" value="Generate Sudoku" class="btn btn-custom" />
        </form>
    </div>
</body>
</html>
